*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #bfb4b4;
}

.heading {
    text-align: center;
    margin-top: 0%;
    /* border: 1px solid black; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: inherit;
    color: rgb(24, 45, 45);
    background-color:#60b0ab;
    height: 65px;
    border: 1px solid black;
}

.my_menu ul {
    margin-right: 10%;
   
}

.my_menu ul li {
    float: right;
    margin-right: 8%;
    margin-top: 0.9%;
    appearance: button;
    
}

.my_menu ul li a {
    text-decoration: none;
    appearance: button;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategrey;
    border: 2px solid sienna;
    border-radius: 10px;
    height: 35px;
    width: 120px;
    line-height: 35px;
    text-align: center;
    align-items: center;
    background-color: beige;
}

.my_menu ul li a:hover {
    background-color: rgb(82, 63, 63);
    transition-duration: 0.3s;
    color: whitesmoke;
}

.my_menu {    
    /* border: 1px solid black; */
    height: 65px;;
    width: 100%;
    background-color: #0d887d;
    border-bottom: 1px solid black;
}

hr {
    color: brown;
    width: 1%;
}

.gallery {
    text-align: center;
    margin-top: 1%;
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-radius: 10px;
    margin: 1%;
    background-color: rgb(88, 93, 93);
    color: #2b0202;
    
}

.details {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
    color: #2b0202;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1%;   
}

.image {
    margin-top: 2%;
    margin-left: 160px;
    height: 300px;
    width: 300px;
    float:left;
    border-radius: 10px;
    border: 2px solid black;
    
}
.menu a{
    padding: 2%;
    margin-left: 1%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #084741;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    color: black;
}

.menu {
    margin: 1%;
    margin-left: 160px;

}

.menu a:hover{
    background-color: rgb(82, 63, 63);
    transition-duration: 0.3s;
    color: whitesmoke;
}




